@page "/produtos"
@using AppExemplo.Models;
@inject ProdutoDAO produtoDAO


<PageTitle>Produtos</PageTitle>


<h1 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-6">Produtos</h1>


<a href="/produtos/novo" class="btn btn-sm btn-primary">Novo Produto</a>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>

        </tr>
    </thead>
    <tbody>

        @{
            int contador = 1;

            @foreach(var produto in listaProdutos)
            {
                <tr>
                    <td>@contador</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Quantidade</td>
                    <td>@produto.Preco</td>
                </tr>

                contador++;
            }

        }
       
    </tbody>
</table>

@code {
    private List<Produto> listaProdutos = new();

    protected override void OnInitialized()
    {
        CarregarProdutos();

    }
    private void CarregarProdutos()
    {
        listaProdutos = produtoDAO.ListarTodos();
    }

}
